<% layout('layout') %>
<% cm = "http://cdnjs.cloudflare.com/ajax/libs/codemirror/4.0.3/"; %>
<% script(cm + 'codemirror.min.js') %>
<% script(cm + 'mode/javascript/javascript.min.js') %>
<link rel='stylesheet' href='<%= cm %>codemirror.min.css' />

<% script('/vendor/js/easeljs.min.js') %>

<% script('/js/main.js') %>
<% script('/js/game.js') %>
<% script('/js/board.js') %>
<% script('/js/hex.js') %>
<% script('/js/player.js') %>
<% script('/js/bot.js') %>
<% script('/js/submit.js') %>
<% script('/bots/dumb-bot.js') %>
<% script('/bots/circle-bot.js') %>
<% script('/bots/less-dumb-bot.js') %>
<% script('/bots/avoid-bot.js') %>
<% script('/bots/spiral-bot.js') %>
<% script('/bots/follow-bot.js') %>
<% script('/bots/flee-bot.js') %>

<h1><%= title %></h1>

<div class="canvas_container">
  <canvas id="main_canvas" width=900 height=500>
    Your browser must support Canvas!
  </canvas>
</div>

<section id="bot1_area">
  <select id="bot1_select" />
  <textarea id="bot1_code">
  </textarea>
</section>
<section id="bot2_area">
  <select id="bot2_select" />
  <textarea id="bot2_code"></textarea>
</section>
<button id="start_game_btn">Start the game!</button>
