<!DOCTYPE html>
<html>
  <head>
    <title>LightBikes<%- (title) ? (" - " + title) : "" %></title>
    <script type='text/javascript' src='/vendor/js/jquery.min.js'></script>
    <script type='text/javascript' src='/vendor/js/lodash.js'></script>
    <%- scripts %>
    <%- stylesheets %>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
      <img src="/images/cisco-meraki.png" width="165" alt="Cisco Meraki" />
    </header>
    <article>
      <%- body %>
    </article>
  </body>
</html>
