.CodeMirror {border: 1px solid #BEBEBE;}

body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #eee;
}

a {
  color: #00B7FF;
}

#bot1_area, #bot2_area {
  width: 49%;
}

#bot1_area {
  float: left;
}

#bot2_area {
  float: right;
}

#start_game_btn {
  width: 100%;
  height: 50px;
  font-size: 21px;
  margin-top: 10px;
  border-radius: 5px;
  color: #444
}

header {
  height: 75px;
  width: 100%;
  position: relative;
  background: #fafafa;
  border-top: 4px solid #78be20;
  box-shadow: 0 2px 7px rgba(0,0,0,0.2);
}

header img {
  margin-top: 15px;
  margin-left: 20px;
}

article {
  padding: 20px;
  text-align: center;
}

#main_canvas {
  display: inline;
}
