<% layout('layout') %>
<% script('/js/vendor/js/jquery.min.js') %>
<% script('/vendor/js/easeljs.min.js') %>
<% script('/js/game.js') %>

<h1><%= title %></h1>

<canvas id="main_canvas" width=900 height=500 style="border: 1px solid black">
  Your browser must support Canvas!
</canvas>
