<!DOCTYPE html>
<html>
  <head>
    <title>LightBikes - <%= title %></title>
    <script type='text/javascript' src='/vendor/js/jquery.min.js'></script>
    <script type='text/javascript' src='/vendor/js/processing.js'></script>
    <script type='text/javascript' src='/js/clock.js'></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
      <img src="/images/cisco-meraki.png" width="165" alt="Cisco Meraki" />
    </header>
    <article>
      <%- body %>
    </article>
  </body>
</html>
