<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type='text/javascript' src='/vendor/js/jquery.min.js'></script>
    <script type='text/javascript' src='/vendor/js/processing.js'></script>
    <script type='text/javascript' src='/js/clock.js'></script>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <%- body %>
  </body>
</html>
