<% layout('layout') %>

<form method="PUT" action="/" enctype="multipart/form-data">
  Group Name: <input type="text" name="group_name" placeholder="Flying Squirrels" /><br>
  Github Repo: <input type="text" name="github" placeholder="username/repo" /><br>
  Submission Javascript: <input type="file" name="file" />
</form>
