body {
  margin: 0px;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

header { 
  height: 75px;
  width: 100%;
  position: relative;
  background: #fafafa;
  border-top: 4px solid #78be20;
  box-shadow: 0 2px 7px rgba(0,0,0,0.2);
  margin-bottom: 10px;
}

header img {
  margin-top: 15px;
  margin-left: 20px;
}
